{% if requires_shipping %}
  {% if order.pickup_in_store? %}
    <br>
    Please allow up to 20 minutes for us to prepare your order! We'll notify you as soon as it's ready for pickup!
    Please bring a valid ID with you when you pick up your order. <br>
    Note: The same person who placed the order must be the same one to pick up.
  {% else %}
    <br>
    Your order is in the works and is being finalized with our shipping team! We generally ship within
    <strong> 1-2 business days</strong> from the time you place your order. If additional ID verification is required,
    we will contact you.
  {%- endif %}
{% endif %}

<br>
<br>

<p style="font-size: 1.25em; color: #0c8eff;">Support Us</p>
<ul style="display:flex; gap: 10px;">
  <li
    style="
      width: 36px;
      height: 36px;
      color: white;
      background: black;
      border-radius: 100%;
    "
  >
    <a
      href="https://twitter.com/vapewh"
    >
      <svg
        style="fill: white"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 52.5 52.5"
        style="enable-background:new 0 0 52.5 52.5;"
        xml:space="preserve"
      >
        <g>
         <path class="st1" d="M35.9,35.2l-7.8-11.4l-0.9-1.3l-5.6-8.1l-0.5-0.7h-6.9l1.7,2.4L23.4,27l0.9,1.3l6,8.7l0.5,0.7h6.9L35.9,35.2z
            M31.6,36.1l-6.2-9l-0.9-1.3l-7.2-10.5h3.1l5.8,8.5l0.9,1.3l7.6,11.1H31.6z"/>
         <polygon class="st1" points="24.4,25.8 25.3,27.1 24.3,28.3 16.2,37.7 14.2,37.7 23.4,27 	"/>
         <polygon class="st1" points="36.8,13.7 28.1,23.9 27.1,25.1 26.2,23.8 27.2,22.6 33.1,15.7 34.8,13.7 	"/>
        </g>
      </svg>
    </a>
  </li>
  <li
    style="
      width: 36px;
      height: 36px;
      color: white;
      background: black;
      border-radius: 100%;
    "
  >
    <a
      href="https://www.facebook.com/vapewh"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        viewBox="0 0 72 72"
        style="enable-background:new 0 0 72 72;"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0{fill:#FFFFFF;}
        </style>
        <g>
          <path class="st0" d="M46.2,38.7l1.5-9.6h-9.2v-6.2c0-2.6,1.3-5.2,5.4-5.2h4.2V9.5c0,0-3.8-0.7-7.5-0.7C33,8.8,28,13.4,28,21.8v7.3   h-8.5v9.6H28v22.6h10.4V38.7H46.2z"/>
        </g>
      </svg>
    </a>
  </li>
  <li
    style="
      width: 36px;
      height: 36px;
      color: white;
      background: black;
      border-radius: 100%;
    "
  >
    <a
      href="https://www.instagram.com/vapewh"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        viewBox="0 0 72 72"
        style="enable-background:new 0 0 72 72;"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0{fill:#FFFFFF;}
        </style>
        <g>
          <path class="st0" d="M47.37,21.06c-1.46,0-2.65,1.19-2.65,2.65c0,1.46,1.19,2.65,2.65,2.65c1.46,0,2.65-1.19,2.65-2.65   C50.02,22.25,48.84,21.06,47.37,21.06z"/>
          <path class="st0" d="M35.6,24.46c-6.13,0-11.12,4.99-11.12,11.12c0,6.13,4.99,11.12,11.12,11.12c6.13,0,11.12-4.99,11.12-11.12   C46.72,29.45,41.73,24.46,35.6,24.46z M35.6,42.71c-3.93,0-7.13-3.2-7.13-7.13s3.2-7.13,7.13-7.13c3.93,0,7.12,3.2,7.12,7.13   S39.53,42.71,35.6,42.71z"/>
          <path class="st0" d="M44.43,58.17H26.4c-7.48,0-13.57-6.09-13.57-13.57V26.57C12.83,19.09,18.92,13,26.4,13h18.03   C51.91,13,58,19.09,58,26.57V44.6C58,52.08,51.91,58.17,44.43,58.17z M26.4,17.25c-5.14,0-9.32,4.18-9.32,9.32V44.6   c0,5.14,4.18,9.32,9.32,9.32h18.03c5.14,0,9.32-4.18,9.32-9.32V26.57c0-5.14-4.18-9.32-9.32-9.32H26.4z"/>
        </g>
      </svg>
    </a>
  </li>
  <li
    style="
      width: 24px;
      height: 24px;
      padding: 6px;
      color: white;
      background: black;
      border-radius: 100%;
    "
  >
    <a
      href="https://www.youtube.com/channel/UCx60LwZKW0fTOPvePehmLKA/videos"
    >
      <svg style="fill:white;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,14.598V9.402c0-0.385,0.417-0.625,0.75-0.433l4.5,2.598c0.333,0.192,0.333,0.674,0,0.866l-4.5,2.598 C10.417,15.224,10,14.983,10,14.598z"/>
      </svg>
    </a>
  </li>
</ul>

<script
  type="text/javascript"
  src="https://shopify.tokenoftrust.com/tot-shopify.js?shop={{shop.permanent_domain}}"
></script>

<script>
  !function(s,a,e,v,n,t,z){if(s.saq)return;n=s.saq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!s._saq)s._saq=n;n.push=n;n.loaded=!0;n.version='1.0';n.queue=[];t=a.createElement(e);t.async=!0;t.src=v;z=a.getElementsByTagName(e)[0];z.parentNode.insertBefore(t,z)}(window,document,'script','https://tags.srv.stackadapt.com/events.js');saq('ts', 'WEm4GDRyBtnEHyxIz-VrNQ', { action: 'purchase', 'revenue': {{ total_price | money_without_currency }} });
</script>

<img
  src="https://tags.srv.stackadapt.com/conv?cid=WCAhQzJNwuEH77vFXSYInU&sa_conv_data_revenue={{checkout.total_price | money_without_currency}}&sa_conv_data_order_id={{order.order_number}}"
  width="1"
  height="1"
>

<script>
  window.cffOrderEditOrderStatusPageOrderId = '{{order.id}}';
</script>
