{% unless text_placement %}
  {%- assign text_placement = 'below' -%}
{% endunless %}
{% unless zoom %}
  {%- assign zoom = false -%}
{% endunless %}
{% unless full_width %}
  {%- assign full_width = false -%}
{% endunless %}
{%- assign image_rollover = block.settings.image_rollover -%}
{%- assign image = block.settings.image -%}
{%- assign show_chevron = section.settings.show_chevron -%}

<div class="box">
  {% if block.settings.link != blank %}
    <a
      href="{{ block.settings.link }}"
      class="{% if zoom %}zoom text-overlay{% endif %} {% if image_rollover != blank %}rollover{% endif %}"
    >
  {% else %}
    <div
      class="hover-wrapper {% if zoom %}zoom text-overlay{% endif %} {% if image_rollover != blank %}rollover{% endif %}"
    >
  {% endif %}
  <figure
    class="animation-label-overlay {% if full_width %}full-width{% endif %}"
    {% if image_rollover != blank %}
      data-bgset="{% include 'bgset', image: image_rollover %}"
    {% endif %}
    {% if image != blank %}
      style="max-width:{{ image.width }}px;"
    {% endif %}
  >
    {% if image %}
      <div class="card__image-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%">
        {% assign loading = 'lazy' %}
        {%- if forloop.index0 < 6 -%}
          {% assign loading = 'eager' %}
        {% endif %}

        {{
          image
          | image_url: width: 1200
          | image_tag:
            widths: '400, 600, 800, 1200',
            sizes: '(min-width: 780px) 400px, 200px',
            loading: loading,
            class: 'card__image'
        }}
      </div>
    {% else %}

    {% endif %}
    {% if text_placement == 'over' and block.settings.title != blank %}
      <figcaption>
        <h4>{{ block.settings.title | escape }}</h4>
      </figcaption>
    {% endif %}
  </figure>
  {% if block.settings.link != blank %}
    </a>
  {% else %}
    </div>
  {% endif %}

  {% if text_placement == 'below' and block.settings.title != blank %}
    <figcaption class="below">
      <h3>
        {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" class="flex-util flex-align-items-center">
        {% endif %}

        {{ block.settings.title | escape }}

        {% if show_chevron %}
          <span class="fa-icon fa-sm svg-brand pl-2">
            {% render 'icon-chevron-right' %}
          </span>
        {% endif %}

        {% if block.settings.link != blank %}
          </a>
        {% endif %}
      </h3>
    </figcaption>
  {% endif %}
  <div class="textContent">
     <div class="mainText">
       {% if block.settings.mainText !=blank %}
       <h2>{{ block.settings.mainText }}</h2>
       {% endif %}  
     </div>
     <div class="subText">
        {% if block.settings.subText !=blank %}
        <p>{{ block.settings.subText }}</p>
        {% endif %}
     </div>
   </div> 
</div>
