{% assign desk_desc = collection.description | truncate: 300 %}
{% assign desc_size = collection.description | size %}
{% assign collectionFlavor = 'no' %}
{% if collection.title contains 'Flavor' %}
  {% assign collectionFlavor = 'yes' %}
{% endif %}

{% if section.blocks.size > 0 %}
  {%- assign enable_sidebar = true -%}
{% else %}
  {%- assign enable_sidebar = false -%}
{% endif %}
{%- assign products_per_page = section.settings.products_per_page_range -%}

{% if section.settings.image_placement != 'default'
  and section.settings.image_placement != 'hidden'
  and collection.image
%}
  <div class="hero-content header {{ section.settings.image_placement }}">
    {%- assign image = collection.image -%}
    <div
      class="collection-image"
      {% if section.settings.image_placement == 'above' %}
        style="max-width:{{ image.width }}px;"
      {% endif %}
    >
      <div class="card__image-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%">
        {% if image %}
          {{
            image
            | image_url: width: 1200
            | image_tag:
              widths: '400, 600, 800, 1200',
              sizes: '(min-width: 780px) 400px, 200px',
              class: 'card__image',
              loading: 'eager'
          }}
        {% else %}

        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% paginate collection.products by products_per_page %}
  <section class="collection" data-section-id="{{ section.id }}" data-section-type="collection-template">
    <div class="wrapper">
      <header class="content-util">
        {% include 'breadcrumb' %}
        {% comment %}
          {% include 'social-icons' %}
        {% endcomment %}
      </header>

      <div class="grid {% unless enable_sidebar %}full-width{% endunless %}">
        <div class="collection-container">
          <header class="collection-header">
            <div class="container">
              <h1>{{ collection.title }}</h1>
              {% include 'collection-sorting' %}
            </div>
            {% if section.settings.image_placement == 'default' and collection.image %}
              <div class="collection-image">
                {%- assign image = collection.image -%}
                <div
                  class="card__image-wrapper"
                  style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%"
                >
                  {% if image %}
                    {{
                      image
                      | image_url: width: 1200
                      | image_tag:
                        widths: '400, 600, 800, 1200',
                        sizes: '(min-width: 780px) 400px, 200px',
                        loading: 'lazy',
                        class: 'card__image'
                    }}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'card__image' }}
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if collection.description != blank %}
              <div class="description initial">
                {% assign desc_coll_size = collection.description | size %}
                <div class="desc-holder">
                  <div class="initial-coll-desc">
                    {{ desk_desc }}
                    <div class="remaining-coll-desc">{{ collection.description | slice: 297, desc_coll_size }}</div>
                    {% if desc_size > 300 -%}
                      <span class="click-more">Read More</span> <span class="click-less">Read Less</span>
                    {%- endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          </header>

          {% if enable_sidebar %}
            <div class="mobile-aside-container">
              <a href="#" class="button simple">{{ 'layout.navigation.collection_menu' | t }}</a>
              <aside>
                {% include 'collection-sidebar' %}
              </aside>
            </div>
          {% endif %}

          <div class="products products-grid {% unless enable_sidebar %}full-width{% endunless %}">
            {% comment %}
              Loop through our products in the current collection.
              See the snippet 'product-grid-item' for the layout.
            {% endcomment %}
            {% for product in collection.products %}
              {% include 'product-grid-item' %}
            {% else %}
              {% if collection.handle == 'all'
                and collection.all_vendors.size == 0
                and collection.all_types.size == 0
              %}
                {% for i in (1..products_per_page) %}
                  {% include 'placeholder-product-grid-item' %}
                {% endfor %}
              {% else %}
                {% comment %}
                  If collection exists but is empty, display message
                {% endcomment %}
                <p>{{ 'collections.general.no_matches' | t }}</p>
              {% endif %}
            {% endfor %}
          </div>
          {% if paginate.pages > 1 %}
            <footer class="collection-footer">
              {% include 'pagination' %}
            </footer>
          {% endif %}
        </div>

        {% if enable_sidebar %}
          <div class="aside-container">
            <aside>
              {% include 'collection-sidebar' %}
            </aside>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endpaginate %}

{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page_range",
      "label": "Number of products on each page",
      "min": 12,
      "max": 48,
      "step": 12,
      "default": 12
    },
    {
      "type": "select",
      "id": "image_placement",
      "label": "Collection image placement",
      "options": [
        { "value": "default", "label": "After collection title" },
        { "value": "above", "label": "After navigation" },
        { "value": "above-full", "label": "After navigation full width" },
        { "value": "hidden", "label": "Hidden" }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "layout_enable",
      "label": "Enable grid and list views",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Sidebar menu",
      "settings": [
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    },
    {
      "type": "tags",
      "name": "Sidebar tags",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Shop by"
        },
        {
          "type": "radio",
          "id": "tag_style",
          "label": "Show tags as",
          "options": [
            { "value": "buttons", "label": "Buttons" },
            { "value": "menu", "label": "Menu" }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "tag_grouping",
          "label": "Enable tag grouping",
          "default": false,
          "info": "[Learn how to set up tag groups](http://help.stylehatch.com/article/289-collections)"
        }
      ]
    }
  ]
}
{% endschema %}
<script>
  $(document).ready(function () {
    $('body').on('click', '.click-more', function (e) {
      e.preventDefault();
      var initial = $('.initial-coll-desc').html();
      initial = initial.replace('...', '');
      $('.initial-coll-desc').html(initial);
      $('.click-more').hide();
      $('.remaining-coll-desc').css('display', 'inline');
      $('.click-less').show();
    });
    $('body').on('click', '.click-less', function (e) {
      e.preventDefault();
      $('.click-more').show();
      $('.remaining-coll-desc').hide();
      $('.remaining-coll-desc').removeAttr('style');
      var initial_two = $('.initial-coll-desc').html();
      var index = initial_two.indexOf('<span');
      var ellipse = '...';
      var newHTML = initial_two.substring(0, index);
      newHTML = newHTML + ellipse;
      var newerHTML = newHTML + initial_two.substring(index, initial_two.length);
      $('.initial-coll-desc').html(newerHTML);
      $('.click-less').hide();
      $('.click-less').removeAttr('style');
    });
  });
</script>
{% if collectionFlavor == 'yes' %}
  <script>
    $(window).on('load', function () {
      {% comment %} setTimeout(function () {
        var productTitleMaxHeight = 0;
        $('.meta-product-info').each(function () {
          var height = $(this).outerHeight();
          if (height > productTitleMaxHeight) {
            productTitleMaxHeight = height;
          }
        });
        $('.meta-product-info').each(function () {
          $(this).css('height', productTitleMaxHeight);
        });
      }, 250); {% endcomment %}
      $('.collection-ATC')
        .unbind()
        .click(function (e) {
          e.preventDefault();
          e.stopPropagation();
          var link = $(this).parent().parent().find('a').attr('href');
          var title = $(this).parent().find('.meta-product-info').find('.product-title').find('a').text();
          var img = $(this).parent().parent().find('a').find('img').attr('src');
          var variant = $(this).attr('data-variant-id');
          data = {
            id: variant,
            quantity: 1,
          };
          jQuery.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: data,
            dataType: 'json',
            success: function () {
              jQuery.getJSON('/cart.js', function (cart) {
                // now have access to Shopify cart object
                $('#CartCount').text(cart.item_count);
                var total = cart.total_price.toString();
                var newTotal =
                  '$' + total.substring(0, total.length - 2) + '.' + total.substring(total.length - 2, total.length);
                $('#CartCost').text(newTotal);
                $('.inner-cart').load(location.href + ' .inner-cart');
                if ($('.inner-cart').css('display') === 'none') {
                  $('.inner-cart').fadeIn('slow');
                }
                if ($('.slider-main').css('display') === 'none') {
                  $('.slider-main').animate({
                    width: 'toggle',
                  });
                  $('body').css('overflow-y', 'hidden');
                  findScreen();
                }
              });
            },
          });
        });
      function findScreen() {
        var screenPos = $(document).scrollTop();
        //    $('#sliderCart').removeAttr('style');
        $('#sliderCart').css('top', screenPos + 'px');
      }
    });
  </script>
{% endif %}
