<style>
.banner-420 {
background-color:black;
}
.page {
padding:0;
}
body:not(.template-index) main.main-content {
margin-top:0;
}
.flex-420 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-420.border-top img {
margin-top:2em;
}
.item-420.two-img img {
max-height:50%;
display:block;
margin-left:auto;
margin-right:auto;
}
.background-420 {
background:url('{{'windowclingmockup-min.png' | asset_url}}');
position:relative;
}
.inner-white-box {
font-size:150%;
}
.inner-white-box h2 {
color:#707070;
font-weight:bold;
}
.inner-white-box h3 {
color:#7a7a7a;
font-weight:normal;
line-height:normal;
margin-bottom:0;
font-family:arial;
}
.black-info {
background-color:black;
width:100%;
color:white;
text-align:center;
}
.black-info p {
padding:10px 0;
}
.inner-white-box hr {
color:black;
background-color:black;
border:none;
height:2px;
}
.cuttwood-bg-420 {
background:url("{{'hi_res-aa-White Horse Vapor_r1_01E_9072-min.png' | asset_url}}");
position:relative;
}
.cuttwood-bg-420 a {
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}
/* mobile styles */
@media screen and (max-width:768px) {
    .flex-420 {
    flex-wrap:wrap;
    padding-top:2em;
    padding-bottom:2em;
    }
    .cuttwood-logo {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: -2em;
        z-index: 5;
        position: relative;
    }
    .background-420 {
        background-repeat: no-repeat;
        position: relative;
        min-height: 300px;
        background-size: cover;
        background-position:center;
    }
    .desktop-only {
    display:none;
    }
    .item-420 img {
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    }
    .item-420.border-top img {
        border-top: 2px solid white;
        padding-top: 1em;
    }
    .inner-white-box {
        max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top:1em;
    margin-bottom: 1em;
    border: 2px solid #707070;
    }
    .black-info p {
    max-width:85%;
    margin-left:auto;
    margin-right:auto;
    padding:1em 0;
    }
    .cuttwood-bg-420 {
        min-height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom:2em;
    }
    .cuttwood-bg-420 a {
     bottom:0% !important;   
    }
}
/* desktop styles */
@media screen and (min-width:769px) {
.item-420 {
width:50%
}
.inner-white-box {
font-size:175% !important;

}
.cuttwood-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.mobile-only {
display:none;
}
.item-420.border-top {
    border-top:3px solid white;
    }
.cuttwood-bg-420 { 
    background-size: cover;
    min-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.inner-white-box {
    background: rgba(255,255,255, 0.9);
    max-width: fit-content;
    padding: 30px 50px;
    position: absolute;
    top: 15%;
    left: 15%;
}
.background-420 {
min-height:800px;
width:100%;
background-position:center;
background-size:cover;
}
.flex-420 {
padding:2em;
gap:3em;
}
.item-420 img {
max-width:100%;
}
}
</style>

<section class="page">
<div class="banner-420">
    <img style="padding-top:2em;padding-bottom:2em;" class="desktop-only" src="{{'420 banner_desktop copy.jpg' | asset_url}}">
    <div class="flex-420 wrapper mobile-only">
<div class="item-420 two-img">
<img src="{{'It_s420-01.png' | asset_url}}">
<img src="{{'It_s420-02.png' | asset_url}}">
</div>
<div class="item-420 border-top">
<img src="https://cdn.shopify.com/s/files/1/0743/6343/files/42-GiftCard.png?v=1681562810">
</div>
</div>
</div>
<div class="background-420">
<div class="inner-white-box desktop-only">
    <h2>4/19 &amp; 4/20</h2>
    <h2>11AM - 9PM</h2>
    <hr class="black-break">
    <h2>Banshee House</h2>
    <h3>2715 Larimer St,</h3>
    <h3>Denver, CO 80205</h3>
</div>
</div>
<div class="inner-white-box mobile-only">
    <h2>4/19 &amp; 4/20</h2>
    <h2>11AM - 9PM</h2>
    <hr class="black-break">
    <h2>Banshee House</h2>
    <h3>2715 Larimer St,</h3>
    <h3>Denver, CO 80205</h3>
</div>
<div class="black-info">
<p>One gift card per person  • Gift cards can NOT be mailed  • Must be 21+ with a valid ID to accept</p>
</div>
<img class="cuttwood-logo mobile-only" src="{{'CW logo_black.png' | asset_url}}">
<div class="cuttwood-bg-420">
<img class="cuttwood-logo desktop-only" src="{{'CW logo_black.png' | asset_url}}">
<a href="/products/cuttwood-dipsosable-vape">SHOP CUTTWOOD</a>
</div>
</section>

<script>
$(window).on('load', function() {
    var windowWidth = $(window).width();
if (windowWidth > 768) {
    var height;
$('.item-420').each(function(i) {
if (i === 1) {
   height = $(this).height();
}
});
// after we get the height of the second item, we need to set the first to match
$('.item-420').eq(0).height(height + 100);
}
});
</script>
